.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  &__wrapper {
    margin: auto;
    position: relative;
    width: 380px;
    height: 420px;
    background-color: $auth-background;
    border-radius: 8px;
    overflow: hidden;
  }

  //   &__wrapper::before {
  //     content: ' ';
  //     position: absolute;
  //     top: -50%;
  //     left: -50%;
  //     width: 380px;
  //     height: 420px;
  //     background: linear-gradient(0deg, transparent, white, white);
  //     transform-origin: bottom right;
  //     animation: animate 6s linear infinite;
  //   }

  //   &__wrapper::after {
  //     content: ' ';
  //     position: absolute;
  //     top: -50%;
  //     left: -50%;
  //     width: 380px;
  //     height: 420px;
  //     background: linear-gradient(0deg, transparent, white, white);
  //     transform-origin: bottom right;
  //     animation: animate 6s linear infinite;
  //     animation-delay: -3s;
  //   }

  //   @keyframes animate {
  //     0% {
  //       transform: rotate(0deg);
  //     }
  //     100% {
  //       transform: rotate(360deg);
  //     }
  //   }

  &__main {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: $auth-background;
    z-index: 10;
    padding: 50px 40px;
  }

  &__title {
    color: $menu-text;
    font-family: Roboto;
    @include font(20px, 24px, 600);
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  &__link {
    margin: 10px 0;
    font-family: Roboto;
    font-size: 0.75em;
    color: $menu-text;
    text-decoration: none;
  }
  &__link:hover {
    color: $menu-text;
  }
}

.formAuth {
  display: flex;
  flex-direction: column;
  width: 300px;

  &__box {
    position: relative;
    width: 300px;
    margin-top: 35px;
  }

  &__box input {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: dark;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
  }

  &__box span {
    position: absolute;
    left: 0;
    font-size: 1em;
    font-family: Roboto;
    padding: 20px 0px 10px;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
  }

  &__box input:valid ~ span,
  &__box input:focus ~ span {
    color: white;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
  }

  &__box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  &__box input:valid ~ i,
  &__box input:focus ~ i {
    height: 44px;
  }

  &__btn {
    width: 300px;
    box-sizing: border-box;
    border: none;
    background: grey;
    padding: 11px 25px;
    margin-top: 20px;
    border-radius: 4px;
    @include font(20px, 24px, 600);
  }

  &__btn:hover {
    background: white;
  }
}
