.card {
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 5px;
  padding: 7px;
  border-radius: 8px;
  background-color: $background-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 18px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 2px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 18px -3px rgba(0, 0, 0, 0.75);

  &__title {
    text-transform: uppercase;
  }

  &__content-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__main-content,
  &__extra-content,
  &__content-input,
  &__content-alarm {
    padding: 12px;
    display: flex;
  }

  &__main-content {
    flex-direction: column;
    justify-content: space-around;
  }

  &__extra-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 7px;
    border: 1px solid gray;
    border-radius: 8px;
  }

  &__extra-subcontent {
    width: 100%;
    padding: 10px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5em;
  }

  &__extra-content > p {
    // flex-direction: column;
    text-align: center;
    line-height: 1.5em;
  }

  &__content-input {
    justify-content: space-around;
  }

  &__content-alarm {
    // width: 100%;
    height: 30px;
  }
}
