.header {
  width: 100vw;
  height: 5vh;
  box-sizing: border-box;
  background-color: $background-header;
}

.main {
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  display: flex;
  background-color: $background-body;
}
.menu {
  max-width: 350px;
  background-color: $menu-extra-background;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
}

.menu-main,
.menu-extra {
  height: 100%;
  padding: 30px 0;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.block {
  display: none;
}

.menu-main {
  width: 170px;
  background-color: $menu-background;
  justify-content: space-between;
}

.menu-top {
  align-items: start;

  &__btn {
    width: 100%;
    height: 34px;
    padding: 0 30px;
    background-color: inherit;
    border: none;
    text-align: left;
    color: $menu-text;
    @include font(16px, 19px, 300);
  }

  &__btn:hover {
    background-color: $menu-hover;
  }
  .active > button {
    background-color: $menu-hover;
  }

  &__btn-home {
    height: 50px;
    padding-left: 80px;
    margin-bottom: 50px;
    @include font(16px, 19px, 300);
  }

  &__home {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    left: 20px;
  }
}

.menu-bottom {
  &__logout {
    width: 100%;
    height: 34px;
    padding: 0 30px;
    background-color: inherit;
    color: $menu-text;
    border: none;
    text-align: left;
    @include font(16px, 19px, 300);
  }
  &__logout:hover {
    background-color: $menu-hover;
  }
}

.menu-extra {
  width: 170px;
  padding-top: 30px;
  background-color: $menu-extra-background;

  &__btn {
    min-width: 170px;
    height: 34px;
    padding: 0 10px;
    background-color: inherit;
    border: none;
    text-align: left;
    color: $menu-extra-text;
    @include font(16px, 19px, 300);
  }

  &__btn:hover {
    background-color: $menu-extra-hover;
  }

  &__link {
    text-decoration: none;
    color: $menu-extra-text;
    width: 100%;
  }

  .active > button {
    background-color: $menu-extra-hover;
    color: $menu-text;
  }
}

.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: $background-footer;
}
