@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-black.woff) format('woff'),
    url(../cdn/font/lato-black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-blackitalic.woff) format('woff'),
    url(../cdn/font/lato-blackitalic.woff2) format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-bold.woff) format('woff'),
    url(../cdn/font/lato-bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-bolditalic.woff) format('woff'),
    url(../cdn/font/lato-bolditalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-light.woff) format('woff'),
    url(../cdn/font/lato-light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-lightitalic.woff) format('woff'),
    url(../cdn/font/lato-lightitalic.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-regular.woff) format('woff'),
    url(../cdn/font/lato-regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url(../cdn/font/lato-italic.woff) format('woff'),
    url(../cdn/font/lato-italic.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}
