.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-body;
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

@media (max-width: $max-tablet-width) {
  .container {
    max-width: 96%;
  }
}

@media (max-width: $max-mobile-width) {
  .container {
    max-width: 96%;
  }
}
