@mixin font($size: 14px, $heght: 17px, $weight: 300, $style: normal) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $heght;
  font-style: $style;
}

@mixin tablet {
  @media (max-width: $max-tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $max-mobile-width) {
    @content;
  }
}
