//$background: #ffefff;
// $hover: #dfc1ff;
$background-body: #57bac1;
$background-header: #1c6b72;
$background-footer: #1c6b72;
$menu-background: #1c6b72;
$menu-hover: #2d929f;
$menu-text: white;
$menu-extra-background: white;
$menu-extra-hover: #2d929f;
$menu-extra-text: black;

$background-card: white;

// progressBar
$scale: #cfcfcf;
$level: #8ade2e;

// Auth
$auth-background: #2b2b2c;

$max-tablet-width: 1599px;
$max-mobile-width: 780px;
