html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e5e4e2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1599px) {
  .container {
    max-width: 96%;
  }
}
@media (max-width: 780px) {
  .container {
    max-width: 96%;
  }
}
.header {
  width: 100vw;
  height: 5vh;
  box-sizing: border-box;
}

.main {
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  display: flex;
  background-color: #e5e4e2;
}

.menu {
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
}

.menu-main,
.menu-extra {
  height: 100%;
  padding: 30px 0;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.menu-main {
  width: 170px;
  background-color: #2b2b2c;
  justify-content: space-between;
}

.menu-top {
  align-items: start;
}
.menu-top__btn {
  width: 100%;
  height: 34px;
  padding: 0 30px;
  background-color: inherit;
  border: none;
  text-align: left;
  color: white;
}
.menu-top__btn:hover {
  background-color: #6c6b74;
}

.menu-bottom__logout {
  width: 100%;
  height: 34px;
  padding: 0 30px;
  background-color: inherit;
  color: white;
  border: none;
  text-align: left;
}
.menu-bottom__logout:hover {
  background-color: #6c6b74;
}

.menu-extra {
  width: 150px;
  background-color: white;
}
.menu-extra__btn {
  width: 100%;
  height: 34px;
  padding: 0 30px;
  background-color: inherit;
  border: none;
  text-align: left;
  color: black;
}
.menu-extra__btn:hover {
  background-color: #6c6b74;
}
.menu-extra__link {
  text-decoration: none;
  color: black;
}

.footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.home__wrapper {
  margin: auto;
}

.board {
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.board__container {
  margin: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.circle__background {
  fill: none;
  stroke: #cfcfcf;
}
.circle__progress {
  fill: none;
  stroke: #8ade2e;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.circle__text {
  font-size: 1.5rem;
}

.card {
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 5px;
  padding: 7px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 18px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 2px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 18px -3px rgba(0, 0, 0, 0.75);
}
.card__title {
  text-transform: uppercase;
}
.card__content-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__main-content, .card__extra-content {
  padding: 7px;
  display: flex;
}
.card__main-subcontent {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card__extra-content > p {
  text-align: center;
  line-height: 1.1em;
}

.LineProgress {
  height: 20px;
  width: 100px;
  background-color: #cfcfcf;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 12px;
  overflow: hidden;
}
.LineProgress__progress {
  width: 20%;
  background-color: #8ade2e;
}

.auth {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.auth__wrapper {
  margin: auto;
  position: relative;
  width: 380px;
  height: 420px;
  background-color: #2b2b2c;
  border-radius: 8px;
  overflow: hidden;
}
.auth__main {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #2b2b2c;
  z-index: 10;
  padding: 50px 40px;
}
.auth__title {
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.1em;
}
.auth__links {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.auth__link {
  margin: 10px 0;
  font-family: Roboto;
  font-size: 0.75em;
  color: white;
  text-decoration: none;
}
.auth__link:hover {
  color: white;
}

.formAuth {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.formAuth__box {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.formAuth__box input {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: dark;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.formAuth__box span {
  position: absolute;
  left: 0;
  font-size: 1em;
  font-family: Roboto;
  padding: 20px 0px 10px;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}
.formAuth__box input:valid ~ span, .formAuth__box input:focus ~ span {
  color: white;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.formAuth__box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.formAuth__box input:valid ~ i, .formAuth__box input:focus ~ i {
  height: 44px;
}
.formAuth__btn {
  width: 300px;
  box-sizing: border-box;
  border: none;
  background: grey;
  padding: 11px 25px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  font-style: normal;
}
.formAuth__btn:hover {
  background: white;
}/*# sourceMappingURL=style.css.map */